[Unit]
Description=Development CAN Bus Interface, w/ generated data
After=multi-user.target

# We create a virtual CAN bus interface for development purposes, and
#  generate fake frames via 'cangen'.
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/ip link add dev can0 type vcan
ExecStartPre=/sbin/ip link set up can0 mtu 72
ExecStop=/usr/bin/cangen can0
ExecStopPost=/sbin/ip link set can0 down

[Install]
WantedBy=multi-user.target
